/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
.body {
	background: #d9d9d9;
	max-width: 505px;
	height: 504px;
}
.relative {
	max-width: 505px;
	position: relative;
}
.big-circle {
	position: absolute;
	left: -116px;
	top: -130px;
	background-color: #0ca565;
	width: 400px;
	height: 400px;
	border-radius: 50%;
}
.triangle {
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 138px 128px;
	border-color: #ce3607 transparent #ce3607 transparent;
}
.pirple-rectangle {
	width: 380px;
	height: 100px;
	position: absolute;
	left: 64px;
	top: 339px;
	background: #910fbf;
	border-radius: 37px;
	z-index: 2;
}
.small-circle {
	position: absolute;
	left: 282px;
	top: 170px;
	background-color: #0ca565;
	width: 127px;
	height: 127px;
	border-radius: 50%;
	z-index: 4;
}
.blue-rectangle {
	width: 420px;
	height: 60px;
	background-color: blue;
	position: absolute;
	left: 51px;
	top: 205px;
	transform: rotate(47deg);
}
